html {
  box-sizing: border-box;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(204, 19, 19);
  font-family: "Zilla Slab", serif;
  font-size: 20px;
  font-weight: 100px;
}
.nav-bar a {
  text-decoration: none;
  color: white;
}
.nav-bar a:hover {
  background-color: rgb(153, 19, 19);
  border: 1px solid rgb(153, 19, 19);
  border-radius: 10px;
  padding: 10px;
}
form.search input[type="text"] {
  padding: 15px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 10px;
  width: 300px;
  background-color: white;
}
form.search button {
  color: red;
  font-size: 20px;
  border: none;
  position: relative;
  left: 40px;
  background-color: white;
}
::placeholder {
  position: relative;
  left: 40px;
  color: black;
  font-family: "Zilla Slab", serif;
  font-size: 20px;
}
.more-button {
  padding: 10px;
  width: 100px;
  background-color: rgb(153, 19, 19);
  border: 1px solid rgb(153, 19, 19);
  border-radius: 10px;
  color: white;
  font-family: "Zilla Slab", serif;
  font-size: 20px;
}
.more img {
  width: 20px;
  height: 30px;
  position: relative;
  right: 30px;
  top: 7px;
  filter: opacity(0.5);
}
.latest-articles-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.latest-articles-sections h1 {
  position: absolute;
  top: 100px;
  left: 40%;
}
#articles-p {
  background-color: white;
  padding: 10px;
}
#articles-h {
  background-color: white;
  position: relative;
  left: 100px;
  padding: 0 10px 10px 10px;
}
.latest-articles {
  height: 600px;
  padding: 40px;
  color: white;
  word-spacing: 10px;
  font: 20px/40px "Domine", serif;
}
.latest-articles a {
  text-decoration: none;
  color: white;
}
.latest-articles ul {
  list-style-type: none;
}
.latest-articles li {
  display: inline;
  font-size: 15px;
}
.latest-articles-section img {
  width: 100px;
  border: 5px solid white;
  border-radius: 5px;
}
.hashtag {
  color: black;
}
.comment {
  font-size: 15px;
}
.one,
.two {
  padding-top: 200px;
}
.fa-arrow-right {
  font-size: 50px;
  position: relative;
  top: 170px;
}
.one {
  background-color: rgb(83, 0, 0);
}
.two {
  background-color: rgb(122, 2, 2);
}
.three {
  background-color: rgb(155, 23, 23);
}
.four {
  background-color: rgb(95, 31, 31);
}
.membership img {
  float: right;
  width: 200px;
}
.membership {
  background-color: rgb(0, 0, 12);
  color: white;
  height: 500px;
  font-family: "Noto Serif", serif;
  word-spacing: 5px;
  padding: 100px 200px 100px 100px;
}
.membership button {
  color: white;
  background-image: linear-gradient(rgb(144, 247, 144), rgb(4, 165, 4));
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  font-size: 20px;
}
.membership ul {
  list-style-type: square;
}
.membership li {
  line-height: 40px;
}
.vertical-positioning {
  writing-mode: vertical-rl;
  position: absolute;
  top: 2400px;
  left: 0;
}
.vertical-positioning .fas {
  position: relative;
  right: 40px;
  bottom: 50px;
}
.latest-post-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.latest-posts {
  background-color: whitesmoke;
  padding: 50px;
}
.latest-posts h2 {
  font: bold 40px "Cormorant", serif;
}
.latest-posts a {
  color: black;
}
.latest-posts p {
  font-family: "Elena", sans-serif;
}
.latest-a {
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.latest-posts .fa-arrow-right {
  position: relative;
  top: 0px;
}
.latest-post-two {
  display: grid;
  grid-template-columns: 70% 30%;
  text-align: center;
}
.latest-post-two img {
  width: 400px;
}
.dancing-cat {
  background-color: rgb(214, 8, 8);
  height: 800px;
  border-radius: 4px;
  color: white;
}
.dancing-cat h2 a {
  color: white;
}
.dancing-cat p {
  font: 20px/40px "Elena", sans-serif;
}
.dancing-cat button {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  font-size: 20px;
  color: blue;
}
.latest-post-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.dancing-cat-article {
  text-align: center;
  padding: 20px;
}
.dancing-cat-article button {
  width: 400px;
}
.dancing-cat-article a {
  color: white;
}
.dancing-cat img {
  width: 200px;
  margin-top: 20px;
  border-radius: 50%;
}
.see-latest {
  padding: 50px;
  text-align: center;
}
.see-latest a {
  color: black;
  text-decoration: none;
}
.see-latest a {
  border-bottom: 5px solid red;
}
.clicking {
  background-color: rgb(84, 84, 245);
  border-radius: 10px;
  text-align: center;
  color: white;
  font: 15px;
}
.clicking a {
  color: white;
}
.clicking p {
  font-family: "Roboto", sans-serif;
}
.clicking h2 {
  font: bold 30px/50px "Anton", sans-serif;
  word-spacing: 10px;
}
.clicking button {
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  font-size: 20px;
  color: blue;
  background-color: white;
}
